   <!-- Content Header (Page header) -->
   <section class="content-header">

    <h1>
      user 
      <small>Telephone</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Admin</a></li>
      <li><a href="#">User</a></li>
      <li class="active">Telephone</li>
    </ol>
  </section>
  
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">New</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form [formGroup]="insertform" (ngSubmit)="onSubmit()">
            
            <div class="box-body">
              <pre>{{insertform.value | json}}</pre>
   
              <div class="form-group" formGroupName="userID">
                <label>User</label>
                <select formControlName="id"  class="form-control" (blur)="getuser()" (change)="getuser()">
                  <option *ngFor="let user of users" value="{{user.id}}">{{user.firstName}}</option>
            </select>    
             </div>

              <div class="form-group" >
                <label>Telephone</label>
                <input  [class.is-invalid]="iform.phoneNo.invalid && iform.phoneNo.touched" formControlName="phoneNo" type="tel"   class="form-control"  >
             <div *ngIf="iform.phoneNo.invalid && iform.phoneNo.touched" class="invalid-feedback">
              <small *ngIf="iform.phoneNo.errors?.required" class="text-danger">telephone is required</small> 
              <small *ngIf="iform.phoneNo.errors?.pattern" class="text-danger">telephone must enter correctly</small> 
              <small *ngIf="iform.phoneNo.errors?.minLength" class="text-danger">telephone length must enter correctly</small> 
              <small *ngIf="iform.phoneNo.errors?.maxLength" class="text-danger">telephone length must enter correctly</small> 

            </div>
             
              </div>

              <div class="form-group" >
                <label>Primary</label>
                <select formControlName="telePrimary"  class="form-control">
                  <option value="0">No</option>
                  <option value="1">Yes</option>
            </select>   
              </div>


              <div class="form-group" formGroupName="datastatusID">
                <label>User</label>
                <select formControlName="id"  class="form-control" (blur)="getuser()" (change)="getuser()">
                  <option *ngFor="let status of data_status" value="{{status.id}}">{{status.dstatus}}</option>
            </select>    
             </div>


            </div>
            <!-- /.box-body -->
  
            <div class="box-footer">
              <button  [disabled]="!insertform.valid" class="btn btn-primary" type="submit">Submit</button>            
            </div>
          </form>
        </div>
        <!-- /.box -->

        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Telephones</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <button class="btn btn-primary" (click)="deletetel()">Delete Telephone</button>
            <button class="btn btn-primary" (click)="savetele()">Save Telephone</button>
            <br/>
            <ag-grid-angular
                #agGrid
                style="width:100%;height:500px"
                class="ag-theme-balham"
                [rowData]="rowData | async"
                [columnDefs]="columnDefs"
                rowSelection="single"
                [gridOptions]="gridOptions" 
                [enableColResize]="true"
                >
            </ag-grid-angular>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
  
      <!--/.col (right) -->
    </div>

       
    <!-- /.row -->
    </div>
  </section>
  <!-- /.content -->
