<form [formGroup]="jform[params.colDef.formnum]">

    <ng-container *ngTemplateOutlet="params.colDef.parentgroup != null? withparent: withoutparent">
    </ng-container>
    <ng-template #withparent>
        <div class="form-group"  formGroupName="{{params.colDef.parentgroup}}">
            <ng-container *ngTemplateOutlet="params.colDef.groupname != null ? withgroup: withoutgroup">
            </ng-container>

            <ng-template #withgroup>
                <div class="form-group" formGroupName="{{params.colDef.groupname}}">
                    <input formControlName="{{params.colDef.field}}"  class="form-control"  (change)="setvalue(jform[params.colDef.formnum])" type="password"/>
<app-password-strength
[passwordToCheck]="password"
></app-password-strength>
                </div>
            </ng-template>
            <ng-template #withoutgroup>
                <input formControlName="{{params.colDef.field}}"  class="form-control"  (change)="setvalue(jform[params.colDef.formnum])" type="password"/>
                <app-password-strength
                [passwordToCheck]="password"
                ></app-password-strength>
            </ng-template>
        </div>

    </ng-template>
    <ng-template #withoutparent>
        <ng-container *ngTemplateOutlet="params.colDef.groupname != null ? withgroup: withoutgroup">
        </ng-container>

        <ng-template #withgroup>
            <div class="form-group" formGroupName="{{params.colDef.groupname}}">
                <input formControlName="{{params.colDef.field}}"  class="form-control"  (change)="setvalue(jform[params.colDef.formnum])" type="password"/>
<app-password-strength
[passwordToCheck]="password"
></app-password-strength>
            </div>
        </ng-template>
        <ng-template #withoutgroup>
            <input formControlName="{{params.colDef.field}}"  class="form-control"  (change)="setvalue(jform[params.colDef.formnum])" type="password"/>
            <app-password-strength
            [passwordToCheck]="password"
            ></app-password-strength>
        </ng-template>

    </ng-template>

</form>




