<div class="login-box" *ngFor="let parent of components; let j = index" style="background-image: url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');">

  <!-- /.login-logo -->
    <div class="login-logo" >
      <a href="/"><b>{{parent.parent.pcodeTittle}}</b></a>
    </div>


    <div class="card">
    <div class="card-body login-card-body" >

    <form [formGroup]="insertform[parent.parent.id]"  *ngIf="parent.parent.parentType == 'form'">
      <pre>{{parent.parent.id | json}}</pre>
      <pre>{{insertform[parent.parent.id].value | json}}</pre>

      <ng-container   *ngFor="let component of parent.child; let i = index; let parentlen = count">

      <p class="login-box-msg" *ngIf="component.comp.ctype == 'label'">Sign in to start your session</p>


        <!-- Execute code here if statement true -->
        <ng-container *ngIf="component.comp.groupname; then withgroup;else withoutgroup">
    </ng-container>


    
<ng-template #withgroup>
  <div class="input-group mb-3"  formGroupName="{{component.comp.groupname}}"  *ngIf="component.comp.ctype == 'input' && component.input.inputtypeID.itype == 'Date'">
    <input placeholder="{{component.comp.ccode}}"  [class.is-invalid]="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" formControlName="{{component.comp.name}}" type="{{component.input.inputtypeID.itype}}"   class="form-control"  >
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="{{component.comp.labelIcon === undefined ? 'far fa-calendar-alt' : component.comp.labelIcon }}"></span>
      </div>
    </div>
    <div *ngIf="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" class="invalid-feedback">
     <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.required" class="text-danger">{{component.comp.ccode}} is required</small> 
     <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.pattern" class="text-danger">{{component.comp.ccode}} must enter correctly</small> 
   </div>
</div>


<div class="input-group mb-3"  formGroupName="{{component.comp.groupname}}"  *ngIf="component.comp.ctype == 'input' && component.input.inputtypeID.itype == 'password'">
  <input  placeholder="{{component.comp.ccode}}" [class.is-invalid]="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" formControlName="{{component.comp.name}}" type="{{component.input.inputtypeID.itype}}"   class="form-control"  >
  <div class="input-group-append">
    <div class="input-group-text">
      <span class="{{component.comp.labelIcon === undefined ? 'fas fa-lock' : component.comp.labelIcon }}"></span>
    </div>
  </div>
  <div *ngIf="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" class="invalid-feedback">
   <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.required" class="text-danger">{{component.comp.ccode}} is required</small> 
   <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.pattern" class="text-danger">{{component.comp.ccode}} must enter correctly</small> 
 </div>
</div>


<div class="input-group mb-3" formGroupName="{{component.comp.groupname}}"  *ngIf="component.comp.ctype == 'input' && component.input.inputtypeID.itype == 'text'">
  <input placeholder="{{component.comp.ccode}}" [class.is-invalid]="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" formControlName="{{component.comp.name}}" type="{{component.input.inputtypeID.itype}}"   class="form-control"  >
  <div class="input-group-append">
    <div class="input-group-text">
      <span class="{{component.comp.labelIcon === undefined ? 'fas fa-edit' : component.comp.labelIcon }}"></span>
    </div>
  </div>
  <div *ngIf="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" class="invalid-feedback">
   <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.required" class="text-danger">{{component.comp.ccode}} is required</small> 
   <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.pattern" class="text-danger">{{component.comp.ccode}} must enter correctly</small> 
 </div>
</div>

<div class="input-group mb-3" formGroupName="{{component.comp.groupname}}"  *ngIf="component.comp.ctype == 'input' && component.input.inputtypeID.itype == 'email'">
  <input placeholder="{{component.comp.ccode}}" [class.is-invalid]="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" formControlName="{{component.comp.name}}" type="{{component.input.inputtypeID.itype}}"   class="form-control"  >
  <div class="input-group-append">
    <div class="input-group-text">
      <span class="{{component.comp.labelIcon === undefined ? 'as fa-envelope-open-text' : component.comp.labelIcon }}"></span>
    </div>
  </div>
  <div *ngIf="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" class="invalid-feedback">
   <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.required" class="text-danger">{{component.comp.ccode}} is required</small> 
   <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.pattern" class="text-danger">{{component.comp.ccode}} must enter correctly</small> 
 </div>
</div>


</ng-template>




<ng-template #withoutgroup>

  <div class="input-group mb-3"   *ngIf="component.comp.ctype == 'input' && component.input.inputtypeID.itype == 'date'">
    <input   placeholder="{{component.comp.ccode}}" [class.is-invalid]="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" formControlName="{{component.comp.name}}" type="{{component.input.inputtypeID.itype}}"   class="form-control"  >
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="{{component.comp.labelIcon === undefined ? 'far fa-calendar-alt' : component.comp.labelIcon }}"></span>
      </div>
    </div>
    <div *ngIf="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" class="invalid-feedback">
     <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.required" class="text-danger">{{component.comp.ccode}} is required</small> 
     <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.pattern" class="text-danger">{{component.comp.ccode}} must enter correctly</small> 
   </div>
</div>


<div class="input-group mb-3"    *ngIf="component.comp.ctype == 'input' && component.input.inputtypeID.itype == 'password'">
  <input  placeholder="{{component.comp.ccode}}" [class.is-invalid]="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" formControlName="{{component.comp.name}}" type="{{component.input.inputtypeID.itype}}"   class="form-control"  >
  <div class="input-group-append">
    <div class="input-group-text">
      <span class="{{component.comp.labelIcon === undefined ? 'fas fa-lock' : component.comp.labelIcon }}"></span>
    </div>
  </div>
  <div *ngIf="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" class="invalid-feedback">
   <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.required" class="text-danger">{{component.comp.ccode}} is required</small> 
   <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.pattern" class="text-danger">{{component.comp.ccode}} must enter correctly</small> 
 </div>
</div>

<div class="input-group mb-3"    *ngIf="component.comp.ctype == 'input' && component.input.inputtypeID.itype == 'text'">
  <input  placeholder="{{component.comp.ccode}}" [class.is-invalid]="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" formControlName="{{component.comp.name}}" type="{{component.input.inputtypeID.itype}}"   class="form-control"  >
  <div class="input-group-append">
    <div class="input-group-text">
      <span class="{{component.comp.labelIcon === undefined ? 'fas fa-edit' : component.comp.labelIcon }}"></span>
    </div>
  </div>
  <div *ngIf="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" class="invalid-feedback">
   <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.required" class="text-danger">{{component.comp.ccode}} is required</small> 
   <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.pattern" class="text-danger">{{component.comp.ccode}} must enter correctly</small> 
 </div>
</div>


<div class="input-group mb-3"    *ngIf="component.comp.ctype == 'input' && component.input.inputtypeID.itype == 'email'">
  <input  placeholder="{{component.comp.ccode}}" [class.is-invalid]="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" formControlName="{{component.comp.name}}" type="{{component.input.inputtypeID.itype}}"   class="form-control"  >
  <div class="input-group-append">
    <div class="input-group-text">
      <span class="{{component.comp.labelIcon === undefined ? 'fas fa-envelope-open-text' : component.comp.labelIcon }}"></span>
    </div>
  </div>
  <div *ngIf="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" class="invalid-feedback">
   <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.required" class="text-danger">{{component.comp.ccode}} is required</small> 
   <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.pattern" class="text-danger">{{component.comp.ccode}} must enter correctly</small> 
 </div>
</div>

</ng-template>


    <div class="social-auth-links text-center mb-3" *ngIf="component.comp.ctype == 'loginlink'">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-primary">
        <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
      </a>
      <a href="#" class="btn btn-block btn-danger">
        <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
      </a>
      
    </div>
    <!-- /.social-auth-links -->

    <div class="mb-1"  *ngIf="component.comp.ctype == 'link'">
      <a href="#">I forgot my password</a><br>
      </div>
  
  <!-- component -->

  
<div class="row" *ngIf="component.comp.ctype == 'button' && component.button.disable === 1" >
  <div class="col-8">
    <div class="icheck-primary">
      <!-- Material checked -->
      <mat-checkbox (change)="checked($event)" class="example-margin" >Rember me</mat-checkbox>
    </div>
  </div>
  <!-- /.col -->
  <div class="col-4">
    <button *ngIf="component.comp.ctype == 'button' && component.button.disable === 1"  [disabled]="!insertform[parent.parent.id].valid" class="btn {{component.button.buttonClass}}" type="{{component.button.buttonType}}" (click)="component.button.buttonMethod == null ?'':this[component.button.buttonMethod](insertform[parent.parent.id],component.button.buttonService,parent.parent.relatedType,parent.parent.relatedParent,parent.parent.comIP,parent.parent.comport,parent.parent.routingInd,parent.parent.routingLoc)" >{{component.comp.ccode}}</button>   
  <!-- /.col -->
</div>
</div>


</ng-container>
  </form>


</div>
<!-- /.login-card-body -->
</div>
</div>
<!-- /.login-box -->



