     <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  
  
  
  <!-- Content Header (Page header) -->
   <section class="content-header"  *ngIf="page != undefined">
    <h1>
      {{page.parent.pmenu}} 
      <small *ngIf="type === 'C' && page != undefined"> {{page.child.menuname}}</small>
    </h1>
    <ol class="breadcrumb"  *ngIf="type === 'C' && page != undefined">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="{{page.parent.parentLink}}">{{page.parent.pmenu}}</a></li>
      <li class="active">{{page.child.menuname}}</li>
    </ol>

    <ol class="breadcrumb"  *ngIf="type =='P' && page != undefined">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a class="active" >{{page.parent.pmenu}}</a></li>
    </ol>
  </section>
  
  <!-- Main content -->
  <section class="content">
    <div class="row" *ngFor="let parent of components; let j = index">
      <!-- left column -->
      <div class="col-md-12" *ngIf="parent.parent.parentType == 'form'">
        <!-- general form elements -->
        <div class="box box-primary" >
          <div class="box-header with-border">
            <h3 class="box-title">{{parent.parent.pcodeTittle}}</h3>
           
            <div class="box-tools pull-right">
           
              <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
              </button>
          
              <div class="btn-group">
                <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-wrench"></i></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>

          
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form [formGroup]="insertform[parent.parent.id]" >
            <pre>{{parent.parent.id | json}}</pre>
            <pre>{{insertform[parent.parent.id].value | json}}</pre>
 <div class="box-body" *ngFor="let component of parent.child; let i = index; let parentlen = count">
 
  
  <div *ngIf="component.comp.ctype == 'select'">
        <!-- Execute code here if statement true -->
        <ng-container *ngTemplateOutlet="component.comp.groupname? withgroup: withoutgroup">
        </ng-container>

    <ng-template #withgroup>
      <div class="form-group" formGroupName="{{component.comp.groupname}}">
        <label>{{component.comp.ccode}}</label>
          <ng-container *ngTemplateOutlet="component.select.arrayObject === 1? dymaicarray: staticarray">
           </ng-container>

        <ng-template #dymaicarray>
          <select formControlName="{{component.comp.name}}"  class="form-control"  (change)="component.select.changemethod == null ?'':Makeaction(objects[i+(j*parentlen)],insertform[parent.parent.id],component.comp.groupname,component.comp.name,component.select.changemethod,parent.parent.relatedType,parent.parent.relatedParent,parent.parent.comIP,parent.parent.comport)">
        <option *ngFor="let object of objects[i+(j*parentlen)]" [value]="object[component.select.selectValue]">{{object[component.select.selectDisplay]}}</option>
      </select> 
      </ng-template>

      <ng-template #staticarray>
        <select formControlName="{{component.comp.name}}"  class="form-control"  (change)="component.select.changemethod == null ?'':Makeaction(objects[i+(j*parentlen)],insertform[parent.parent.id],component.comp.groupname,component.comp.name,component.select.changemethod,parent.parent.relatedType,parent.parent.relatedParent,parent.parent.comIP,parent.parent.comport)">
        <option *ngFor="let object of  objects[i+(j*parentlen)]" [value]="object.value">{{object.key}}</option>
      </select> 
      </ng-template>
 
           
    </div>
    </ng-template>

    <ng-template #withoutgroup>
      <div class="form-group">
        <label>{{component.comp.ccode}}</label>
        
          <ng-container *ngTemplateOutlet="component.select.arrayObject === 1? dymaicarray: staticarray">
          </ng-container>
  
          <ng-template #dymaicarray>
            <select formControlName="{{component.comp.name}}"  class="form-control"  (change)="component.select.changemethod == null ?'':Makeaction(objects[i+(j*parentlen)],insertform[parent.parent.id],null,component.comp.name,component.select.changemethod,parent.parent.relatedType,parent.parent.relatedParent,parent.parent.comIP,parent.parent.comport)">
          <option *ngFor="let object of objects[i+(j*parentlen)]" [value]="object[component.select.selectValue]">{{object[component.select.selectDisplay]}}</option>
        </select>  
        </ng-template>
  
        <ng-template #staticarray>
          <select formControlName="{{component.comp.name}}"  class="form-control"  (change)="component.select.changemethod == null ?'':Makeaction(objects[i+(j*parentlen)],insertform[parent.parent.id],null,component.comp.name,component.select.changemethod,parent.parent.relatedType,parent.parent.relatedParent,parent.parent.comIP,parent.parent.comport)">
          <option *ngFor="let object of  objects[i+(j*parentlen)]" [value]="object.value">{{object.key}}</option>       
        </select>  
        </ng-template>

      
    
    </div>
    </ng-template>

  </div> 
 <!-- End of condition of select -->

  
  <div *ngIf="component.comp.ctype == 'input'">
    <!-- Execute code here if statement true -->
    <ng-container *ngIf="component.comp.groupname; then withgroup;else withoutgroup">
</ng-container>


<ng-template #withgroup>
  <div class="form-group" formGroupName="{{component.comp.groupname}}"  *ngIf="component.input.inputtypeID.itype == 'Date'">
    <label>{{component.comp.ccode}}</label>
     <div class="input-group">
    <div class="input-group-addon">
      <i class="fa fa-calendar"></i>
    </div>
    <input  [class.is-invalid]="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" formControlName="{{component.comp.name}}" type="{{component.input.inputtypeID.itype}}"   class="form-control"  >
    <div *ngIf="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" class="invalid-feedback">
     <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.required" class="text-danger">{{component.comp.ccode}} is required</small> 
     <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.pattern" class="text-danger">{{component.comp.ccode}} must enter correctly</small> 
   </div>
</div>
</div>

<div class="form-group" formGroupName="{{component.comp.groupname}}"  *ngIf="component.input.inputtypeID.itype == 'password'">
  <label>{{component.comp.ccode}}</label>
  <input  [class.is-invalid]="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" formControlName="{{component.comp.name}}" type="{{component.input.inputtypeID.itype}}"   class="form-control"  >
  <div *ngIf="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" class="invalid-feedback">
   <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.required" class="text-danger">{{component.comp.ccode}} is required</small> 
   <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.pattern" class="text-danger">{{component.comp.ccode}} must enter correctly</small> 
 </div>
</div>

<div class="form-group"  formGroupName="{{component.comp.groupname}}" *ngIf="component.input.inputtypeID.itype == 'password'">
  <label>{{component.comp.ccode}}</label>
  <input  [class.is-invalid]="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" formControlName="{{component.comp.name}}" type="{{component.input.inputtypeID.itype}}"   class="form-control"  >
  <div *ngIf="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" class="invalid-feedback">
   <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.required" class="text-danger">{{component.comp.ccode}} is required</small> 
   <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.pattern" class="text-danger">{{component.comp.ccode}} must enter correctly</small> 
 </div>
 <app-password-strength
          [passwordToCheck]="insertform[parent.parent.id].get(component.comp.name).value"
          (passwordStrength)="passwordValid($event)"
          ></app-password-strength>
</div>

<div class="form-group" formGroupName="{{component.comp.groupname}}"  *ngIf="component.input.inputtypeID.itype == 'text' || component.input.inputtypeID.itype == 'email'">
  <label>{{component.comp.ccode}}</label>
  <input  [class.is-invalid]="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" formControlName="{{component.comp.name}}" type="{{component.input.inputtypeID.itype}}"   class="form-control"  >
  <div *ngIf="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" class="invalid-feedback">
   <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.required" class="text-danger">{{component.comp.ccode}} is required</small> 
   <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.pattern" class="text-danger">{{component.comp.ccode}} must enter correctly</small> 
 </div>
</div>


<div class="form-group" formGroupName="{{component.comp.groupname}}" *ngIf="component.input.inputtypeID.itype == 'file'">
  <h3>{{component.comp.name}}</h3>
  <input type="{{component.input.inputtypeID.itype}}" accept="image/x-png,image/gif,image/jpeg" [class.is-invalid]="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" formControlName="{{component.comp.name}}" multiple (change)="addfiles($event,component.comp.name,component.comp.id,type =='C'?page.child.pagesID.id:page.parent.pagesID.id,parent.parent.id,component.comp.id,component.input.insertServ,component.input.insertParameter,parent.parent.comIP,parent.parent.comport)" />
  <div *ngIf="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" class="invalid-feedback">
    <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.required" class="text-danger">{{component.comp.ccode}} is required</small>
    <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.pattern" class="text-danger">{{component.comp.ccode}} must enter correctly</small>
   </div>
</div>

<div class="form-group"  formGroupName="{{component.comp.groupname}}" *ngIf="component.input.inputtypeID.itype == 'file'">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">{{component.comp.ccode}}</h3>
    </div>
  <div class="box-body no-padding">
<table class="table table-condensed">

<tr>
<th>Name</th>
<th>Size</th>
<th>Progress</th>
<th>Status</th>
<th>Action</th>
</tr>
<tr *ngFor="let item of queue[component.comp.id] | async">
<td>{{ item.filename }}</td>
<td>{{ item.file.size/1024/1024 | number:'.2' }} MB</td>

<td >
<div class="progress progress-xs">
<div class="progress-bar progress-bar-success" [style.width.%]="item.progress"></div>
</div>
</td>
<td >
<span *ngIf="item.isPending()" class="label label-warning">Pending </span>
<span *ngIf="item.isSuccess()" class="label label-success">Approved</span>
<span *ngIf="item.inProgress()" class="label label-primary"> Progress</span>
<span *ngIf="item.isError()" class="label label-danger">Denied</span>
<span *ngIf="item.isduplicate()" class="label label-danger">Duplicate</span>
</td>	
<td>
<a tooltip="Cancel upload" (click)="item.cancel()" *ngIf="item.inProgress()">
  <i class="fa fa-times-circle"></i>
</a>
<a tooltip="upload" (click)="item.upload(insertform[parent.parent.id].get(component.input.insertParameter).value)" *ngIf="item.isPending() && insertform[parent.parent.id].get(component.input.insertParameter).value != '' && insertform[parent.parent.id].get(component.input.insertParameter).value != null ">
  <i class="fa fa-upload"></i>
</a>
<a tooltip="Remove from queue" (click)="item.removefromquery()" *ngIf="item.isPending()">
  <i class="fa fa-trash"></i>
</a>
<a tooltip="download from queue" (click)="item.download()" *ngIf="item.isSuccess() && insertform[parent.parent.id].get(component.input.insertParameter).value != '' && insertform[parent.parent.id].get(component.input.insertParameter).value != null ">
  <i class="fa fa-save"></i>
</a>
<a tooltip="Remove from queue" (click)="item.delete(component.input.deleteServ)" *ngIf="item.isSuccess() && insertform[parent.parent.id].get(component.input.insertParameter).value != '' && insertform[parent.parent.id].get(component.input.insertParameter).value != null ">
  <i class="fa fa-trash"></i>
</a>
</td>	
</tr>
</table>
</div>
  </div>

</div>


</ng-template>

<ng-template #withoutgroup>
  <div class="form-group"  *ngIf="component.input.inputtypeID.itype == 'date'">
    <label>{{component.comp.ccode}}</label>
     <div class="input-group">
    <div class="input-group-addon">
      <i class="fa fa-calendar"></i>
    </div>
    <input  [class.is-invalid]="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" formControlName="{{component.comp.name}}" type="{{component.input.inputtypeID.itype}}"   class="form-control"  >
    <div *ngIf="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" class="invalid-feedback">
     <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.required" class="text-danger">{{component.comp.ccode}} is required</small> 
     <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.pattern" class="text-danger">{{component.comp.ccode}} must enter correctly</small> 
   </div>
</div>
</div>

<div class="form-group"   *ngIf="component.input.inputtypeID.itype == 'password'">
  <label>{{component.comp.ccode}}</label>
  <input  [class.is-invalid]="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" formControlName="{{component.comp.name}}" type="{{component.input.inputtypeID.itype}}"   class="form-control"  >
  <div *ngIf="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" class="invalid-feedback">
   <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.required" class="text-danger">{{component.comp.ccode}} is required</small> 
   <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.pattern" class="text-danger">{{component.comp.ccode}} must enter correctly</small> 
 </div>
 <app-password-strength
          [passwordToCheck]="insertform[parent.parent.id].get(component.comp.name).value"
          (passwordStrength)="passwordValid($event)"
          ></app-password-strength>
</div>

<div class="form-group"   *ngIf="component.input.inputtypeID.itype == 'text' || component.input.inputtypeID.itype == 'email'">
  <label>{{component.comp.ccode}}</label>
  <input  [class.is-invalid]="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" formControlName="{{component.comp.name}}" type="{{component.input.inputtypeID.itype}}"   class="form-control"  >
  <div *ngIf="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" class="invalid-feedback">
   <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.required" class="text-danger">{{component.comp.ccode}} is required</small> 
   <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.pattern" class="text-danger">{{component.comp.ccode}} must enter correctly</small> 
 </div>
</div>

<div class="form-group" *ngIf="component.input.inputtypeID.itype == 'file'">
  <h3>{{component.comp.name}}</h3>
  <input type="{{component.input.inputtypeID.itype}}" accept="image/x-png,image/gif,image/jpeg" [class.is-invalid]="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" formControlName="{{component.comp.name}}" multiple (change)="addfiles($event,component.comp.name,component.comp.id,type =='C'?page.child.pagesID.id:page.parent.pagesID.id,parent.parent.id,component.comp.id,component.input.insertServ,component.input.insertParameter,parent.parent.comIP,parent.parent.comport)" />
  <div *ngIf="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" class="invalid-feedback">
    <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.required" class="text-danger">{{component.comp.ccode}} is required</small>
    <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.pattern" class="text-danger">{{component.comp.ccode}} must enter correctly</small>
   </div>
</div>

<div class="form-group"  *ngIf="component.input.inputtypeID.itype == 'file'">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">{{component.comp.ccode}}</h3>
    </div>
  <div class="box-body no-padding">
<table class="table table-condensed">

<tr>
<th>Name</th>
<th>Size</th>
<th>Progress</th>
<th>Status</th>
<th>Action</th>
</tr>
<tr *ngFor="let item of queue[component.comp.id] | async">
<td>{{ item.filename }}</td>
<td>{{ item.file.size/1024/1024 | number:'.2' }} MB</td>

<td >
<div class="progress progress-xs">
<div class="progress-bar progress-bar-success" [style.width.%]="item.progress"></div>
</div>
</td>
<td >
<span *ngIf="item.isPending()" class="label label-warning">Pending </span>
<span *ngIf="item.isSuccess()" class="label label-success">Approved</span>
<span *ngIf="item.inProgress()" class="label label-primary"> Progress</span>
<span *ngIf="item.isError()" class="label label-danger">Denied</span>
<span *ngIf="item.isduplicate()" class="label label-danger">Duplicate</span>
</td>	
<td>
<a tooltip="Cancel upload" (click)="item.cancel()" *ngIf="item.inProgress()">
  <i class="fa fa-times-circle"></i>
</a>
<a tooltip="upload" (click)="item.upload(insertform[parent.parent.id].get(component.input.insertParameter).value)" *ngIf="item.isPending() && insertform[parent.parent.id].get(component.input.insertParameter).value != '' && insertform[parent.parent.id].get(component.input.insertParameter).value != null ">
  <i class="fa fa-upload"></i>
</a>
<a tooltip="Remove from queue" (click)="item.removefromquery()" *ngIf="item.isPending()">
  <i class="fa fa-trash"></i>
</a>
<a tooltip="download from queue" (click)="item.download()" *ngIf="item.isSuccess() && insertform[parent.parent.id].get(component.input.insertParameter).value != '' && insertform[parent.parent.id].get(component.input.insertParameter).value != null ">
  <i class="fa fa-save"></i>
</a>
<a tooltip="Remove from queue" (click)="item.delete(component.input.deleteServ)" *ngIf="item.isSuccess() && insertform[parent.parent.id].get(component.input.insertParameter).value != '' && insertform[parent.parent.id].get(component.input.insertParameter).value != null ">
  <i class="fa fa-trash"></i>
</a>
</td>	
</tr>
</table>
</div>
  </div>

</div>

</ng-template>

</div>
     

<div class="box-footer" *ngIf="component.comp.ctype == 'button'">

    <button *ngIf="component.comp.ctype == 'button' && component.button.disable === 1"  [disabled]="!insertform[parent.parent.id].valid" class="btn {{component.button.buttonClass}}" type="{{component.button.buttonType}}" (click)="component.button.buttonMethod == null ?'':this[component.button.buttonMethod](insertform[parent.parent.id],component.button.buttonService,parent.parent.relatedType,parent.parent.relatedParent,parent.parent.comIP,parent.parent.comport)" >{{component.comp.ccode}}</button>             

    <button *ngIf="component.comp.ctype == 'button' && component.button.disable === 0"  class="btn {{component.button.buttonClass}}" type="{{component.button.buttonType}}" (click)="component.button.buttonMethod == null ?'':this[component.button.buttonMethod](insertform[parent.parent.id],component.button.buttonService,parent.parent.relatedType,parent.parent.relatedParent,parent.parent.comIP,parent.parent.comport)" >{{component.comp.ccode}}</button>             

  </div>


            </div>
            <!-- /.box-body -->
  
        
          </form>
        </div>
        <!-- /.box -->



      <!--/.col (right) -->
    </div>
    <div class="col-md-12" *ngIf="parent.parent.parentType == 'table'">

      <div class="box">
        <div class="box-header">
          <h3 class="box-title">{{parent.parent.pcodeTittle}}</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <div class="btn-group">
              <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-wrench"></i></button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <ng-container  *ngFor="let component of parent.child; let i = index; let parentlen = count" >
          <button  *ngIf="component.comp.ctype == 'button'"  class="btn {{component.button.buttonClass}}" type="{{component.button.buttonType}}" (click)="component.button.buttonMethod == null ?'':this[component.button.buttonMethod](component.button.buttonService,component.button.methodParamter,parent.parent.id,parent.parent.relatedType,parent.parent.relatedParent,parent.parent.comIP,parent.parent.comport)" >{{component.comp.ccode}}</button> 

          </ng-container>
      
          <br/>
          <ag-grid-angular
              style="width:100%;height:500px"
              class="ag-theme-balham"
              [rowData]="rowData[parent.parent.id] | async"
              [columnDefs]="columnDefs[parent.parent.id]"
              rowSelection="single"
              [gridOptions]="gridOptions[parent.parent.id]" 
              [enableColResize]="true"
              >
          </ag-grid-angular>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

    </div>
    <!-- /.row -->
    </div>
  </section>
  <!-- /.content -->

</div>
<!-- /.content-wrapper -->
