<div id="preloader" *ngIf="spinnerService.visibility | async">
  <div id="loader"></div>
</div>
   <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  
      <!-- Content Header (Page header) -->
      <section class="content-header" *ngIf="page != undefined">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              {{page.parent.pmenu}} 
              <small *ngIf="type === 'C' && page != undefined"> {{page.child.menuname}}</small>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right"  *ngIf="type === 'C' && page != undefined">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="{{page.parent.parentLink}}">{{page.parent.pmenu}}</a></li>
                <li class="breadcrumb-item active" > {{page.child.menuname}}</li>
              </ol>
              <ol class="breadcrumb float-sm-right"  *ngIf="type =='P' && page != undefined">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" > {{page.parent.pmenu}}</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
  
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">

    <ng-container  *ngFor="let parent of components; let j = index">

        <!-- general form elements -->
        <div class="card card-primary"  *ngIf="parent.parent.parentType == 'form'">
          <div class="card-header">
            <h3 class="card-title">{{parent.parent.pcodeTittle}}</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fas fa-minus"></i></button>
              <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                <i class="fas fa-times"></i></button>
            </div>

          </div>
        <!-- /.card-header -->

          <!-- form start -->
         
        
        <div class="card-body">

          <form role="form" [formGroup]="insertform[parent.parent.id]" >

            <pre style="background-color: lightblue">{{parent.parent.id | json}}</pre>
            <pre style="background-color: lawngreen;">{{insertform[parent.parent.id].value | json}}</pre>

          <div class="row">
            <div class="col-md-12">
  
  
  <ng-container *ngFor="let component of parent.child; let i = index; let parentlen = count">
  
  <ng-container *ngIf="component.comp.ctype == 'select'">
        <!-- Execute code here if statement true -->
        <ng-container *ngTemplateOutlet="component.comp.groupname? withgroup: withoutgroup">
        </ng-container>

    <ng-template #withgroup>
      <div class="input-group mb-3" formGroupName="{{component.comp.groupname}}">
          <ng-container *ngTemplateOutlet="component.select.arrayObject === 1? dymaicarray: staticarray">
           </ng-container>

        <ng-template #dymaicarray>
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="{{component.comp.labelIcon === undefined ? 'fas fa-user' : component.comp.labelIcon}}"></i></span>
          </div> 
          <select  formControlName="{{component.comp.name}}"  class="form-control  select2"  (change)="component.select.changemethod == null ?'':Makeaction(objects[i+(j*parentlen)],insertform[parent.parent.id],component.comp.groupname,component.comp.name,component.select.changemethod,parent.parent.relatedType,parent.parent.relatedParent,parent.parent.comIP,parent.parent.comport)">
            <option disabled selected value>{{component.comp.ccode}}</option>
            <option *ngFor="let object of objects[i+(j*parentlen)]" [value]="object[component.select.selectValue]">{{object[component.select.selectDisplay]}}</option>
      </select> 
      </ng-template>

      <ng-template #staticarray>
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="{{component.comp.labelIcon === undefined ? 'fas fa-user' : component.comp.labelIcon}}"></i></span>
        </div> 
        <select   formControlName="{{component.comp.name}}"  class="form-control  select2"  (change)="component.select.changemethod == null ?'':Makeaction(objects[i+(j*parentlen)],insertform[parent.parent.id],component.comp.groupname,component.comp.name,component.select.changemethod,parent.parent.relatedType,parent.parent.relatedParent,parent.parent.comIP,parent.parent.comport)">
          <option disabled selected value>{{component.comp.ccode}}</option>
          <option *ngFor="let object of  objects[i+(j*parentlen)]" [value]="object.value">{{object.key}}</option>
      </select> 
      </ng-template>
 
           
    </div>
    </ng-template>

    <ng-template #withoutgroup>
      <div class="input-group mb-3">
     
          <ng-container *ngTemplateOutlet="component.select.arrayObject === 1? dymaicarray: staticarray">
          </ng-container>
  
          <ng-template #dymaicarray>
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="{{component.comp.labelIcon === undefined ? 'fas fa-user' : component.comp.labelIcon}}"></i></span>
            </div> 
            <select   formControlName="{{component.comp.name}}"  class="form-control  select2"  (change)="component.select.changemethod == null ?'':Makeaction(objects[i+(j*parentlen)],insertform[parent.parent.id],null,component.comp.name,component.select.changemethod,parent.parent.relatedType,parent.parent.relatedParent,parent.parent.comIP,parent.parent.comport)">
              <option disabled selected value>{{component.comp.ccode}}</option>
              <option *ngFor="let object of objects[i+(j*parentlen)]" [value]="object[component.select.selectValue]">{{object[component.select.selectDisplay]}}</option>
        </select>  
        </ng-template>
  
        <ng-template #staticarray>
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="{{component.comp.labelIcon === undefined ? 'fas fa-user' : component.comp.labelIcon}}"></i></span>
          </div> 
          <select   formControlName="{{component.comp.name}}"  class="form-control  select2"  (change)="component.select.changemethod == null ?'':Makeaction(objects[i+(j*parentlen)],insertform[parent.parent.id],null,component.comp.name,component.select.changemethod,parent.parent.relatedType,parent.parent.relatedParent,parent.parent.comIP,parent.parent.comport)">
            <option disabled selected value>{{component.comp.ccode}}</option>
            <option *ngFor="let object of  objects[i+(j*parentlen)]" [value]="object.value">{{object.key}}</option>       
        </select>  
        </ng-template>

      
    
    </div>
    </ng-template>

  </ng-container> 
 <!-- End of condition of select -->

  
  <ng-container *ngIf="component.comp.ctype == 'input'">
    <!-- Execute code here if statement true -->
    <ng-container *ngIf="component.comp.groupname; then withgroup;else withoutgroup">
</ng-container>


<ng-template #withgroup>
  <div class="input-group mb-3" formGroupName="{{component.comp.groupname}}"  *ngIf="component.input.inputtypeID.itype == 'Date'">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="{{component.comp.labelIcon === undefined ? 'far fa-calendar-alt' : component.comp.labelIcon }}"></i></span>
    </div>
    <input   type="text" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="{{component.comp.ccode}}" [class.is-invalid]="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" formControlName="{{component.comp.name}}"   class="form-control"  >
    <div *ngIf="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" class="invalid-feedback">
     <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.required" class="text-danger">{{component.comp.ccode}} is required</small> 
     <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.pattern" class="text-danger">{{component.comp.ccode}} must enter correctly</small> 
   </div>
</div>


<div class="input-group mb-3"  formGroupName="{{component.comp.groupname}}" *ngIf="component.input.inputtypeID.itype == 'password'">
  <div class="input-group-prepend">
    <span class="input-group-text"><i class="{{component.comp.labelIcon === undefined ? 'fas fa-key' : component.comp.labelIcon}}"></i></span>
  </div> 
  <input placeholder="{{component.comp.ccode}}" [class.is-invalid]="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" formControlName="{{component.comp.name}}" type="{{component.input.inputtypeID.itype}}"   class="form-control"  >
  <div *ngIf="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" class="invalid-feedback">
   <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.required" class="text-danger">{{component.comp.ccode}} is required</small> 
   <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.pattern" class="text-danger">{{component.comp.ccode}} must enter correctly</small> 
 </div>
 
</div>

<app-password-strength *ngIf="component.input.inputtypeID.itype == 'password'"
[passwordToCheck]="insertform[parent.parent.id].get(component.comp.name).value"
(passwordStrength)="passwordValid($event)"
></app-password-strength>

<div class="input-group mb-3" formGroupName="{{component.comp.groupname}}"  *ngIf="component.input.inputtypeID.itype == 'text'">
  <div class="input-group-prepend">
    <span class="input-group-text"><i class="{{component.comp.labelIcon === undefined ? 'fas fa-edit' : component.comp.labelIcon}}"></i></span>
  </div> 
  <input placeholder="{{component.comp.ccode}}" [class.is-invalid]="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" formControlName="{{component.comp.name}}" type="{{component.input.inputtypeID.itype}}"   class="form-control"  >
  <div *ngIf="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" class="invalid-feedback">
   <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.required" class="text-danger">{{component.comp.ccode}} is required</small> 
   <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.pattern" class="text-danger">{{component.comp.ccode}} must enter correctly</small> 
 </div>
</div>


<div class="input-group mb-3" formGroupName="{{component.comp.groupname}}"  *ngIf="component.input.inputtypeID.itype == 'email'">
  <div class="input-group-prepend">
    <span class="input-group-text"><i class="{{component.comp.labelIcon === undefined ? 'fas fa-envelope-open-text' : component.comp.labelIcon}}"></i></span>
  </div> 
  <input placeholder="{{component.comp.ccode}}" [class.is-invalid]="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" formControlName="{{component.comp.name}}" type="{{component.input.inputtypeID.itype}}"   class="form-control"  >
  <div *ngIf="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" class="invalid-feedback">
   <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.required" class="text-danger">{{component.comp.ccode}} is required</small> 
   <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.pattern" class="text-danger">{{component.comp.ccode}} must enter correctly</small> 
 </div>
</div>


<div class="input-group mb-3" formGroupName="{{component.comp.groupname}}" *ngIf="component.input.inputtypeID.itype == 'file'">
  <div class="input-group-prepend">
    <span class="input-group-text"><i class="{{component.comp.labelIcon === undefined ? 'far fa-file' : component.comp.labelIcon}}"></i></span>
  </div> 
  <div class="custom-file">
  <input class="custom-file-input" type="{{component.input.inputtypeID.itype}}" accept="image/x-png,image/gif,image/jpeg" [class.is-invalid]="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" formControlName="{{component.comp.name}}" multiple (change)="addfiles($event,component.comp.name,component.comp.id,type =='C'?page.child.pagesID.id:page.parent.pagesID.id,parent.parent.id,component.comp.id,component.input.insertServ,component.input.insertParameter,parent.parent.comIP,parent.parent.comport)" />
  <div *ngIf="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" class="invalid-feedback">
    <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.required" class="text-danger">{{component.comp.ccode}} is required</small>
    <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.pattern" class="text-danger">{{component.comp.ccode}} must enter correctly</small>
   </div>

   <label class="custom-file-label" > <label>{{component.comp.ccode}}</label></label>
   </div>
</div>

<div class="form-group"  formGroupName="{{component.comp.groupname}}" *ngIf="component.input.inputtypeID.itype == 'file'">
  <div class="box">
    <div class="card-header">
      <h3 class="card-title">{{component.comp.ccode}}</h3>
    </div>
  <div class="card-body no-padding">
<table class="table table-condensed">

<tr>
<th>Name</th>
<th>Size</th>
<th>Progress</th>
<th>Status</th>
<th>Action</th>
</tr>
<tr *ngFor="let item of queue[component.comp.id] | async">
<td>{{ item.filename }}</td>
<td>{{ item.file.size/1024/1024 | number:'.2' }} MB</td>

<td >
<div class="progress progress-xs">
<div class="progress-bar progress-bar-success" [style.width.%]="item.progress"></div>
</div>
</td>
<td >
<span *ngIf="item.isPending()" class="label label-warning">Pending </span>
<span *ngIf="item.isSuccess()" class="label label-success">Approved</span>
<span *ngIf="item.inProgress()" class="label label-primary"> Progress</span>
<span *ngIf="item.isError()" class="label label-danger">Denied</span>
<span *ngIf="item.isduplicate()" class="label label-danger">Duplicate</span>
</td>	
<td>
<a tooltip="Cancel upload" (click)="item.cancel()" *ngIf="item.inProgress()">
  <i class="fa fa-times-circle"></i>
</a>
<a tooltip="upload" (click)="item.upload(insertform[parent.parent.id].get(component.input.insertParameter).value)" *ngIf="item.isPending() && insertform[parent.parent.id].get(component.input.insertParameter).value != '' && insertform[parent.parent.id].get(component.input.insertParameter).value != null ">
  <i class="fa fa-upload"></i>
</a>
<a tooltip="Remove from queue" (click)="item.removefromquery()" *ngIf="item.isPending()">
  <i class="fa fa-trash"></i>
</a>
<a tooltip="download from queue" (click)="item.download()" *ngIf="item.isSuccess() && insertform[parent.parent.id].get(component.input.insertParameter).value != '' && insertform[parent.parent.id].get(component.input.insertParameter).value != null ">
  <i class="fa fa-save"></i>
</a>
<a tooltip="Remove from queue" (click)="item.delete(component.input.deleteServ)" *ngIf="item.isSuccess() && insertform[parent.parent.id].get(component.input.insertParameter).value != '' && insertform[parent.parent.id].get(component.input.insertParameter).value != null ">
  <i class="fa fa-trash"></i>
</a>
</td>	
</tr>
</table>
</div>
  </div>

</div>


</ng-template>

<ng-template #withoutgroup>
  <div class="input-group mb-3"  *ngIf="component.input.inputtypeID.itype == 'date'">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="{{component.comp.labelIcon === undefined ? 'far fa-calendar-alt' : component.comp.labelIcon }}"></i></span>
    </div> 
    <input   type="text" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="{{component.comp.ccode}}"  [class.is-invalid]="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" formControlName="{{component.comp.name}}"   class="form-control"  >
    <div *ngIf="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" class="invalid-feedback">
     <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.required" class="text-danger">{{component.comp.ccode}} is required</small> 
     <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.pattern" class="text-danger">{{component.comp.ccode}} must enter correctly</small> 
   </div>
</div>


<div class="input-group mb-3"   *ngIf="component.input.inputtypeID.itype == 'password'">
  <div class="input-group-prepend">
    <span class="input-group-text"><i class="{{component.comp.labelIcon === undefined ? 'fas fa-key' : component.comp.labelIcon}}"></i></span>

  </div> 
  <input placeholder="{{component.comp.ccode}}" [class.is-invalid]="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" formControlName="{{component.comp.name}}" type="{{component.input.inputtypeID.itype}}"   class="form-control"  >
  <div *ngIf="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" class="invalid-feedback">
   <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.required" class="text-danger">{{component.comp.ccode}} is required</small> 
   <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.pattern" class="text-danger">{{component.comp.ccode}} must enter correctly</small> 
 </div>

</div>

<app-password-strength *ngIf="component.input.inputtypeID.itype == 'password'"
[passwordToCheck]="insertform[parent.parent.id].get(component.comp.name).value"
(passwordStrength)="passwordValid($event)"
></app-password-strength>

<div class="input-group mb-3"   *ngIf="component.input.inputtypeID.itype == 'text'">
  <div class="input-group-prepend">
    <span class="input-group-text"><i class="{{component.comp.labelIcon === undefined ? 'fas fa-edit' : component.comp.labelIcon }}"></i></span>
  </div> 
  <input placeholder="{{component.comp.ccode}}"  [class.is-invalid]="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" formControlName="{{component.comp.name}}" type="{{component.input.inputtypeID.itype}}"   class="form-control"  >
  <div *ngIf="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" class="invalid-feedback">
   <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.required" class="text-danger">{{component.comp.ccode}} is required</small> 
   <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.pattern" class="text-danger">{{component.comp.ccode}} must enter correctly</small> 
 </div>
</div>


<div class="input-group mb-3"   *ngIf="component.input.inputtypeID.itype == 'email'">
  <div class="input-group-prepend">
    <span class="input-group-text"><i class="{{component.comp.labelIcon === undefined ? 'fas fa-envelope-open-text' : component.comp.labelIcon}}"></i></span>
  </div> 
  <input placeholder="{{component.comp.ccode}}"  [class.is-invalid]="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" formControlName="{{component.comp.name}}" type="{{component.input.inputtypeID.itype}}"   class="form-control"  >
  <div *ngIf="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" class="invalid-feedback">
   <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.required" class="text-danger">{{component.comp.ccode}} is required</small> 
   <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.pattern" class="text-danger">{{component.comp.ccode}} must enter correctly</small> 
 </div>
</div>

   <div class="input-group mb-3" *ngIf="component.input.inputtypeID.itype == 'file'">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="{{component.comp.labelIcon === undefined ? 'far fa-file' : component.comp.labelIcon}}"></i></span>
    </div> 
    <div class="custom-file">
      <input  class="custom-file-input" type="{{component.input.inputtypeID.itype}}" accept="image/x-png,image/gif,image/jpeg" [class.is-invalid]="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" formControlName="{{component.comp.name}}" multiple (change)="addfiles($event,component.comp.name,component.comp.id,type =='C'?page.child.pagesID.id:page.parent.pagesID.id,parent.parent.id,component.comp.id,component.input.insertServ,component.input.insertParameter,parent.parent.comIP,parent.parent.comport)" />
      <div *ngIf="insertform[parent.parent.id].get(component.comp.name).invalid && insertform[parent.parent.id].get(component.comp.name).touched" class="invalid-feedback">
        <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.required" class="text-danger">{{component.comp.ccode}} is required</small>
        <small *ngIf="insertform[parent.parent.id].get(component.comp.name).errors?.pattern" class="text-danger">{{component.comp.ccode}} must enter correctly</small>
       </div>
     <label class="custom-file-label" > <label>{{component.comp.ccode}}</label></label>
    </div>
  </div>


<div class="form-group"  *ngIf="component.input.inputtypeID.itype == 'file'">
  <div class="box">
    <div class="card-header">
      <h3 class="card-title">{{component.comp.ccode}}</h3>
    </div>
  <div class="card-body no-padding">
<table class="table table-condensed">

<tr>
<th>Name</th>
<th>Size</th>
<th>Progress</th>
<th>Status</th>
<th>Action</th>
</tr>
<tr *ngFor="let item of queue[component.comp.id] | async">
<td>{{ item.filename }}</td>
<td>{{ item.file.size/1024/1024 | number:'.2' }} MB</td>

<td >
<div class="progress progress-xs">
<div class="progress-bar progress-bar-success" [style.width.%]="item.progress"></div>
</div>
</td>
<td >
<span *ngIf="item.isPending()" class="label label-warning">Pending </span>
<span *ngIf="item.isSuccess()" class="label label-success">Approved</span>
<span *ngIf="item.inProgress()" class="label label-primary"> Progress</span>
<span *ngIf="item.isError()" class="label label-danger">Denied</span>
<span *ngIf="item.isduplicate()" class="label label-danger">Duplicate</span>
</td>	
<td>
<a tooltip="Cancel upload" (click)="item.cancel()" *ngIf="item.inProgress()">
  <i class="fa fa-times-circle"></i>
</a>
<a tooltip="upload" (click)="item.upload(insertform[parent.parent.id].get(component.input.insertParameter).value)" *ngIf="item.isPending() && insertform[parent.parent.id].get(component.input.insertParameter).value != '' && insertform[parent.parent.id].get(component.input.insertParameter).value != null ">
  <i class="fa fa-upload"></i>
</a>
<a tooltip="Remove from queue" (click)="item.removefromquery()" *ngIf="item.isPending()">
  <i class="fa fa-trash"></i>
</a>
<a tooltip="download from queue" (click)="item.download()" *ngIf="item.isSuccess() && insertform[parent.parent.id].get(component.input.insertParameter).value != '' && insertform[parent.parent.id].get(component.input.insertParameter).value != null ">
  <i class="fa fa-save"></i>
</a>
<a tooltip="Remove from queue" (click)="item.delete(component.input.deleteServ)" *ngIf="item.isSuccess() && insertform[parent.parent.id].get(component.input.insertParameter).value != '' && insertform[parent.parent.id].get(component.input.insertParameter).value != null ">
  <i class="fa fa-trash"></i>
</a>
</td>	
</tr>
</table>
</div>
  </div>

</div>

</ng-template>

</ng-container>
     

<div class="card-footer" *ngIf="component.comp.ctype == 'button'">
  <div class="input-group-prepend">
    <span class="input-group-text"><i class="{{component.comp.labelIcon === undefined ? 'fas fa-mouse' : component.comp.labelIcon }}"></i>
      <button *ngIf="component.comp.ctype == 'button' && component.button.disable === 1"  [disabled]="!insertform[parent.parent.id].valid" class="btn {{component.button.buttonClass}}" type="{{component.button.buttonType}}" (click)="component.button.buttonMethod == null ?'':this[component.button.buttonMethod](insertform[parent.parent.id],component.button.buttonService,parent.parent.relatedType,parent.parent.relatedParent,parent.parent.comIP,parent.parent.comport)" >{{component.comp.ccode}}</button>             

      <button *ngIf="component.comp.ctype == 'button' && component.button.disable === 0"  class="btn {{component.button.buttonClass}}" type="{{component.button.buttonType}}" (click)="component.button.buttonMethod == null ?'':this[component.button.buttonMethod](insertform[parent.parent.id],component.button.buttonService,parent.parent.relatedType,parent.parent.relatedParent,parent.parent.comIP,parent.parent.comport)" >{{component.comp.ccode}}</button>             
  
    </span>
  </div> 

  </div>


  </ng-container>

            </div>
         
  </div>

</form>
</div>
        <!-- /.card-body -->   
          
        </div>
        <!-- /.box -->



      <div class="card card-primary" *ngIf="parent.parent.parentType == 'table'">
        <div class="card-header">
          <h3 class="card-title">{{parent.parent.pcodeTittle}}</h3>              
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fas fa-times"></i></button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="card-body">
          <ng-container  *ngFor="let component of parent.child; let i = index; let parentlen = count" >
          <button  *ngIf="component.comp.ctype == 'button'"  class="btn {{component.button.buttonClass}}" type="{{component.button.buttonType}}" (click)="component.button.buttonMethod == null ?'':this[component.button.buttonMethod](component.button.buttonService,component.button.methodParamter,parent.parent.id,parent.parent.relatedType,parent.parent.relatedParent,parent.parent.comIP,parent.parent.comport)" >{{component.comp.ccode}}</button> 
          </ng-container>
      
          <br/>
          <ag-grid-angular
              style="width:100%;height:500px"
              class="ag-theme-balham"
              [rowData]="rowData[parent.parent.id] | async"
              [columnDefs]="columnDefs[parent.parent.id]"
              rowSelection="single"
              [gridOptions]="gridOptions[parent.parent.id]"
              >
          </ag-grid-angular>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.box -->


    </ng-container>
  
    </div>
<!-- /.container-fluid -->

  </section>
  <!-- /.content -->

</div>
<!-- /.content-wrapper -->
