   <!-- Content Header (Page header) -->
   <section class="content-header">

    <h1>
      user 
      <small>Email</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Admin</a></li>
      <li><a href="#">User</a></li>
      <li class="active">Email</li>
    </ol>
  </section>
  
  <!-- Main content -->
  <section class="content">
    <div class="row" *ngFor="let parent of components; let j = index">
      <!-- left column -->
      <div class="col-md-12" *ngIf="parent.parent.parentType == 'form'">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">{{parent.parent.pcodeTittle}}</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form [formGroup]="insertform[j]" >
            <pre>{{j | json}}</pre>
            <pre>{{insertform[j].value | json}}</pre>
 <div class="box-body" *ngFor="let component of parent.child; let i = index; let parentlen = count">
 
  
  <div *ngIf="component.comp.ctype == 'select'">
        <!-- Execute code here if statement true -->
        <ng-container *ngTemplateOutlet="component.comp.groupname? withgroup: withoutgroup">
        </ng-container>

    <ng-template #withgroup>
      <div class="form-group" formGroupName="{{component.comp.groupname}}">
        <label>{{component.comp.ccode}}</label>
          <ng-container *ngTemplateOutlet="component.select.arrayObject === 1? dymaicarray: staticarray">
           </ng-container>

        <ng-template #dymaicarray>
          <select formControlName="{{component.comp.name}}"  class="form-control"  (change)="component.select.changemethod == null ?'':this[component.select.changemethod](objects[i+(j*parentlen)],insertform[j])">
        <option *ngFor="let object of objects[i+(j*parentlen)]" [value]="object[component.select.selectValue]">{{object[component.select.selectDisplay]}}</option>
      </select> 
      </ng-template>

      <ng-template #staticarray>
        <select formControlName="{{component.comp.name}}"  class="form-control"  (change)="component.select.changemethod == null ?'':this[component.select.changemethod](objects[i+(j*parentlen)],insertform[j])">
        <option *ngFor="let object of  objects[i+(j*parentlen)]" [value]="object.value">{{object.key}}</option>
      </select> 
      </ng-template>
 
           
    </div>
    </ng-template>

    <ng-template #withoutgroup>
      <div class="form-group">
        <label>{{component.comp.ccode}}</label>
        
          <ng-container *ngTemplateOutlet="component.select.arrayObject === 1? dymaicarray: staticarray">
          </ng-container>
  
          <ng-template #dymaicarray>
            <select formControlName="{{component.comp.name}}"  class="form-control"  (change)="component.select.changemethod == null ?'':this[component.select.changemethod](objects[i+(j*parentlen)],insertform[j])">
          <option *ngFor="let object of objects[i+(j*parentlen)]" [value]="object[component.select.selectValue]">{{object[component.select.selectDisplay]}}</option>
        </select>  
        </ng-template>
  
        <ng-template #staticarray>
          <select formControlName="{{component.comp.name}}"  class="form-control"  (change)="component.select.changemethod == null ?'':this[component.select.changemethod](objects[i+(j*parentlen)],insertform[j])">
          <option *ngFor="let object of  objects[i+(j*parentlen)]" [value]="object.value">{{object.key}}</option>       
        </select>  
        </ng-template>

      
    
    </div>
    </ng-template>

  </div> 
 <!-- End of condition of select -->

  
  <div *ngIf="component.comp.ctype == 'input'">
    <!-- Execute code here if statement true -->
    <ng-container *ngIf="component.comp.groupname; then withgroup;else withoutgroup">
</ng-container>


<ng-template #withgroup>
  <div class="form-group" formGroupName="{{component.comp.groupname}}">
    <label>{{component.comp.ccode}}</label>
    <input  [class.is-invalid]="iform.emailuser.invalid && iform.emailuser.touched" formControlName="{{component.comp.name}}" type="{{component.input.inputtypeID.itype}}"   class="form-control"  >
    <div *ngIf="iform.emailuser.invalid && iform.emailuser.touched" class="invalid-feedback">
     <small *ngIf="iform.emailuser.errors?.required" class="text-danger">{{component.comp.ccode}} is required</small> 
     <small *ngIf="iform.emailuser.errors?.pattern" class="text-danger">{{component.comp.ccode}} must enter correctly</small> 
   </div>
</div>
</ng-template>

<ng-template #withoutgroup>
  <div class="form-group">
    <label>{{component.comp.ccode}}</label>
    <input  [class.is-invalid]="iform.emailuser.invalid && iform.emailuser.touched" formControlName="{{component.comp.name}}" type="{{component.input.inputtypeID.itype}}"   class="form-control"  >
    <div *ngIf="iform.emailuser.invalid && iform.emailuser.touched" class="invalid-feedback">
     <small *ngIf="iform.emailuser.errors?.required" class="text-danger">{{component.comp.ccode}} is required</small> 
     <small *ngIf="iform.emailuser.errors?.pattern" class="text-danger">{{component.comp.ccode}} must enter correctly</small> 
   </div>  
</div>
</ng-template>

</div>
     

<div class="box-footer" *ngIf="component.comp.ctype == 'button'">

    <button  [disabled]="!insertform[j].valid" class="btn {{component.button.buttonClass}}" type="{{component.button.buttonType}}" (click)="component.button.buttonMethod == null ?'':this[component.button.buttonMethod](insertform[j],component.button.buttonService)" >{{component.comp.ccode}}</button>             
</div>

            </div>
            <!-- /.box-body -->
  
        
          </form>
        </div>
        <!-- /.box -->



      <!--/.col (right) -->
    </div>
    <div class="col-md-12" *ngIf="parent.parent.parentType == 'table'">

      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Emails</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <button class="btn btn-primary " (click)="deletemail()">Delete Email</button>
          <button class="btn btn-secondary" (click)="savemail()">Save Email</button>
          <button class="btn btn-success" (click)="getuser()">Refersh</button>
          
          <br/>
          <ag-grid-angular
              #agGrid
              style="width:100%;height:500px"
              class="ag-theme-balham"
              [rowData]="rowData | async"
              [columnDefs]="columnDefs"
              rowSelection="single"
              [gridOptions]="gridOptions" 
              [enableColResize]="true"
              >
          </ag-grid-angular>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

    </div>
    <!-- /.row -->
    </div>
  </section>
  <!-- /.content -->
