   <!-- Content Header (Page header) -->
   <section class="content-header">

    <h1>
      user 
      <small>Email</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Admin</a></li>
      <li><a href="#">User</a></li>
      <li class="active">Email</li>
    </ol>
  </section>
  
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">New</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form [formGroup]="insertform" (ngSubmit)="onSubmit()">

            <pre>{{insertform.value | json}}</pre>
 <div class="box-body" *ngFor="let component of components">


   
  <div *ngIf="component.comp.ctype == 'select'">
        <!-- Execute code here if statement true -->
        <ng-container *ngIf="component.comp.groupname; then withgroup;else withoutgroup">
    </ng-container>


    <ng-template #withgroup>
      <div class="form-group" formGroupName="{{component.comp.groupname}}">
        <label>{{component.comp.ccode}}</label>
        <select formControlName="{{component.comp.name}}"  class="form-control"  (change)="component.select.changemethod == null ?'':this[component.select.changemethod]()">
          <ng-container *ngIf="component.select.arrayObject === 1;then dymaicarray;else staticarray">
        </ng-container>

        <ng-template #dymaicarray>
        <option *ngFor="let object of getArray(component.select.arrayName,'',component.select.webService,1)" [value]="object[component.select.selectValue]">{{object[component.select.selectDisplay]}}</option>
      </ng-template>

      <ng-template #staticarray>
        <option *ngFor="let object of  getArray(component.select.selectValue,component.select.selectDisplay,'',0)" [value]="object.value">{{object.key}}</option>
      </ng-template>
  
        </select>    
    </div>
    </ng-template>

    <ng-template #withoutgroup>
      <div class="form-group">
        <label>{{component.comp.ccode}}</label>
        <select formControlName="{{component.comp.name}}"  class="form-control"  (change)="component.select.changemethod == null ?'':this[component.select.changemethod]()">
        
          <ng-container *ngIf="component.select.arrayObject === 1;then dymaicarray;else staticarray">
          </ng-container>
  
          <ng-template #dymaicarray>
          <option *ngFor="let object of getArray(component.select.arrayName,'',component.select.webService,1)" [value]="object[component.select.selectValue]">{{object[component.select.selectDisplay]}}</option>
        </ng-template>
  
        <ng-template #staticarray>
          <option *ngFor="let object of  getArray(component.select.selectValue,component.select.selectDisplay,'',0)" [value]="object.value">{{object.key}}</option>
        </ng-template>
  
        </select>    
    </div>
    </ng-template>

  </div>


  
  <div *ngIf="component.comp.ctype == 'input'">
    <!-- Execute code here if statement true -->
    <ng-container *ngIf="component.comp.groupname; then withgroup;else withoutgroup">
</ng-container>


<ng-template #withgroup>
  <div class="form-group" formGroupName="{{component.comp.groupname}}">
    <label>{{component.comp.ccode}}</label>
    <input  [class.is-invalid]="iform.emailuser.invalid && iform.emailuser.touched" formControlName="{{component.comp.name}}" type="{{component.input.inputtypeID.itype}}"   class="form-control"  >
    <div *ngIf="iform.emailuser.invalid && iform.emailuser.touched" class="invalid-feedback">
     <small *ngIf="iform.emailuser.errors?.required" class="text-danger">{{component.comp.ccode}} is required</small> 
     <small *ngIf="iform.emailuser.errors?.pattern" class="text-danger">{{component.comp.ccode}} must enter correctly</small> 
   </div>
</div>
</ng-template>

<ng-template #withoutgroup>
  <div class="form-group">
    <label>{{component.comp.ccode}}</label>
    <input  [class.is-invalid]="iform.emailuser.invalid && iform.emailuser.touched" formControlName="{{component.comp.name}}" type="{{component.input.inputtypeID.itype}}"   class="form-control"  >
    <div *ngIf="iform.emailuser.invalid && iform.emailuser.touched" class="invalid-feedback">
     <small *ngIf="iform.emailuser.errors?.required" class="text-danger">{{component.comp.ccode}} is required</small> 
     <small *ngIf="iform.emailuser.errors?.pattern" class="text-danger">{{component.comp.ccode}} must enter correctly</small> 
   </div>  
</div>
</ng-template>

</div>
     

  


            </div>
            <!-- /.box-body -->
  
            <div class="box-footer">
              <button  [disabled]="!insertform.valid" class="btn btn-primary" type="submit">Submit</button>            
            </div>
          </form>
        </div>
        <!-- /.box -->

        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Emails</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <button class="btn btn-primary " (click)="deletemail()">Delete Email</button>
            <button class="btn btn-secondary" (click)="savemail()">Save Email</button>
            <button class="btn btn-success" (click)="getuser()">Refersh</button>
            
            <br/>
            <ag-grid-angular
                #agGrid
                style="width:100%;height:500px"
                class="ag-theme-balham"
                [rowData]="rowData | async"
                [columnDefs]="columnDefs"
                rowSelection="single"
                [gridOptions]="gridOptions" 
                [enableColResize]="true"
                >
            </ag-grid-angular>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
  
      <!--/.col (right) -->
    </div>

       
    <!-- /.row -->
    </div>
  </section>
  <!-- /.content -->
