   <!-- Content Header (Page header) -->
   <section class="content-header">

    <h1>
      Currency
      <small>ISO parser</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Admin</a></li>
      <li class="active">Currency</li>
    </ol>
  </section>
  
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">New</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form [formGroup]="insertform" (ngSubmit)="onSubmit()">
            
            <div class="box-body">
              <pre>{{insertform.value | json}}</pre>
           
                <div class="form-group" >
                  <label>currency name</label>
                  <input [class.is-invalid]="currencyname.invalid && currencyname.touched" formControlName="currencyname" type="text"   class="form-control"  >
               <div *ngIf="currencyname.invalid && currencyname.touched">
                <small *ngIf="currencyname.errors?.required" class="text-danger">Currency name is required</small>
                <small *ngIf="currencyname.errors?.minlength" class="text-danger">currency name must be 3 characters</small>   
               </div>
               
                </div>


                <div class="form-group" >
                  <label>currency ISO</label>
                  <input [class.is-invalid]="currencyISO.invalid && currencyISO.touched" formControlName="currencyISO" type="text"   class="form-control"  >
               <div *ngIf="currencyISO.invalid && currencyISO.touched">
                <small *ngIf="currencyISO.errors?.required" class="text-danger">Currency ISO is required</small>
                <small *ngIf="currencyISO.errors?.minlength" class="text-danger">currencyISO must be 3 characters</small>
               </div>
               
                </div>
            
                <div class="form-group" >
                  <label>Status</label>
                  <select required formControlName="currencystatus"  class="form-control" >
                        <option *ngFor="let st of status" value="{{st.status}}">{{st.status}}</option>
                  </select>              
                </div>
               


            </div>
            <!-- /.box-body -->
  
            <div class="box-footer">
              <button  [disabled]="!insertform.valid" class="btn btn-primary" type="submit">Submit</button>            
            </div>
          </form>
        </div>
        <!-- /.box -->
  
      <!--/.col (right) -->
    </div>

          <!-- right column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Update</h3>
              </div>
              <!-- /.box-header -->
              <!-- form start -->
              <form [formGroup]="updateform" (ngSubmit)="onUpdate()">
                
                <div class="box-body">
                  <pre>{{updateform.value | json}}</pre>
    
    
                  <div class="form-group" >
                    <label>Currency</label>
                    <select formControlName="id"  class="form-control" (blur)="getcur()" (change)="getcur()">
                          <option *ngFor="let cur of currency" value="{{cur.id}}">{{cur.currencyname}}</option>
                    </select>              
                  </div>
    
         
    
               
                    <div class="form-group" >
                      <label>currency name</label>
                      <input [class.is-invalid]="currencyname.invalid && currencyname.touched" formControlName="currencyname" type="text"   class="form-control"  >
                   <div *ngIf="currencyname.invalid && currencyname.touched">
                    <small *ngIf="currencyname.errors?.required" class="text-danger">Currency name is required</small>
                    <small *ngIf="currencyname.errors?.minlength" class="text-danger">currency name must be 3 characters</small>   
                   </div>
                   
                    </div>
    
    
                    <div class="form-group" >
                      <label>currency ISO</label>
                      <input [class.is-invalid]="currencyISO.invalid && currencyISO.touched" formControlName="currencyISO" type="text"   class="form-control"  >
                   <div *ngIf="currencyISO.invalid && currencyISO.touched">
                    <small *ngIf="currencyISO.errors?.required" class="text-danger">Currency ISO is required</small>
                    <small *ngIf="currencyISO.errors?.minlength" class="text-danger">currencyISO must be 3 characters</small>
                   </div>
                   
                    </div>
                
                    <div class="form-group" >
                      <label>Status</label>
                      <select required formControlName="currencystatus"  class="form-control" >
                            <option *ngFor="let st of status" value="{{st.status}}">{{st.status}}</option>
                      </select>              
                    </div>
                   
    
    
                </div>
                <!-- /.box-body -->
      
                <div class="box-footer">
                  <button  [disabled]="!updateform.valid" class="btn btn-primary" type="submit">Update</button>
                </div>
              </form>
            </div>
            <!-- /.box -->
      
          <!--/.col (right) -->
        </div>
    <!-- /.row -->
    </div>
  </section>
  <!-- /.content -->
