
<ng-container *ngIf="login == 1">
<app-loginpage></app-loginpage>
</ng-container>

<div class="wrapper" *ngIf="dashboard == 1">
    <app-header></app-header>
    <app-dasboard></app-dasboard>
    <app-footer></app-footer>
</div>




    <div class="wrapper" *ngIf="page == 1">
        <app-header></app-header>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
        </div>
 

        <div class="wrapper" *ngIf="error == 1">
            <router-outlet></router-outlet>
            </div>

  

